In [49]:
import json
import pandas as pd

In [5]:
df = pd.read_csv('data/mig_ext_roster.csv')

In [10]:
df['mig_ext_violence'].dropna()

0         1
1         1
2         1
3         4
4         1
       ...
1618      1
1619      1
1620      2
1621      3
1623    3 4
Name: mig_ext_violence, Length: 1249, dtype: object

In [16]:
df.groupby(['country']).count()

,Unnamed: 0,mig_ext_sex,mig_ext_age,mig_ext_motivo,mig_ext_motivo/1,mig_ext_motivo/2,mig_ext_motivo/3,mig_ext_motivo/4,mig_ext_motivo/5,mig_ext_motivo/6,...,_submission__submitted_by,_submission__tags,mig_ext_finance_group/1,mig_ext_finance_group/2,mig_ext_finance_group/3,mig_ext_medio_group/1,mig_ext_medio_group/2,mig_ext_medio_group/3,cost_per_attempt,migrated_yn
country,,,,,,,,,,,,,,,,,,,,,
GT,524,524,524,524,524,524,524,524,524,524,...,275,524,524,524,524,524,524,524,349,524
HND,585,585,585,585,585,585,585,585,585,585,...,585,585,585,585,585,585,585,585,180,585
SLV,515,515,515,515,515,515,515,515,515,515,...,0,515,515,515,515,515,515,515,286,515

In [24]:
[x for x in df.columns if x.startswith('mig_ext_violence')]

['mig_ext_violence']

In [52]:
country = 'SLV'
gender = 2

df = pd.read_csv('data/mig_ext_roster.csv')
df = df.where(df['country'] == country)

columns = [
    'mig_ext_sex',
    *[x for x in df.columns if x.startswith('mig_ext_violence/')]
]

df = df[columns]

df['count'] = 1

df = df.dropna()
df = df.groupby('mig_ext_sex').sum()
df = (df / sum(df['count']) * 100)
# .astype({col: 'int' for col in columns[1:]})
a = json.loads(df.to_json(index=True))
[{
    'label': key.split('/')[-1],
    'value': sum([v for v in a[key].values()]),
    'highlight': a[key][f'{int(gender)}.0']
} for key, value in a.items()]

[{'label': 'mig_ext_violence/1',
  'value': 69.28934010149999,
  'highlight': 47.2081218274},
 {'label': 'mig_ext_violence/2',
  'value': 2.2842639594,
  'highlight': 1.5228426396},
 {'label': 'mig_ext_violence/3',
  'value': 3.0456852791999998,
  'highlight': 2.0304568528},
 {'label': 'mig_ext_violence/4',
  'value': 3.5532994924000003,
  'highlight': 2.7918781726},
 {'label': 'mig_ext_violence/5',
  'value': 2.7918781726,
  'highlight': 2.0304568528},
 {'label': 'mig_ext_violence/6',
  'value': 4.5685279188,
  'highlight': 3.807106599},
 {'label': 'mig_ext_violence/7', 'value': 0.0, 'highlight': 0.0},
 {'label': 'mig_ext_violence/8',
  'value': 2.538071066,
  'highlight': 1.7766497462},
 {'label': 'mig_ext_violence/9',
  'value': 0.2538071066,
  'highlight': 0.2538071066},
 {'label': 'mig_ext_violence/10', 'value': 0.0, 'highlight': 0.0},
 {'label': 'mig_ext_violence/11',
  'value': 14.7208121828,
  'highlight': 9.8984771574},
 {'label': 'mig_ext_violence/99',
  'value': 3.807106599,
  'highlight': 2.7918781726},
 {'label': 'count', 'value': 100.0, 'highlight': 69.2893401015}]

In [47]:
a = {'a':0, 'b': 1}
[k for k, v in a.items()]

['a', 'b']

In [38]:
{col: 'int' for col in columns}

{'mig_ext_sex': 'int',
 'mig_ext_violence/1': 'int',
 'mig_ext_violence/2': 'int',
 'mig_ext_violence/3': 'int',
 'mig_ext_violence/4': 'int',
 'mig_ext_violence/5': 'int',
 'mig_ext_violence/6': 'int',
 'mig_ext_violence/7': 'int',
 'mig_ext_violence/8': 'int',
 'mig_ext_violence/9': 'int',
 'mig_ext_violence/10': 'int',
 'mig_ext_violence/11': 'int',
 'mig_ext_violence/99': 'int'}

In [30]:
df.groupby(['mig_ext_violence']).count()

,mig_ext_sex,mig_ext_violence/1,mig_ext_violence/2,mig_ext_violence/3,mig_ext_violence/4,mig_ext_violence/5,mig_ext_violence/6,mig_ext_violence/7,mig_ext_violence/8,mig_ext_violence/9,...,mig_ext_violence_who,mig_ext_violence_who/1,mig_ext_violence_who/2,mig_ext_violence_who/3,mig_ext_violence_who/4,mig_ext_violence_who/5,mig_ext_violence_who/6,mig_ext_violence_who/7,mig_ext_violence_who/99,count
mig_ext_violence,,,,,,,,,,,,,,,,,,,,,
11,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
11 6,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
2 3 4,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2 8,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3 2 6,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3 4,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
3 4 5,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
3 4 6,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3 5,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3 6,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
4 6,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
5 6,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
5 8,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
6,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
6 3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
6 8,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
8,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
8 2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
9,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [67]:
ext_data_dir = 'data/mig_ext_roster.csv'
rsp_age = 32
rsp_sex = 1

df = pd.read_csv(ext_data_dir)
# df = df.where(df['country'] == country)
rsp_age = int(rsp_age)
df['age_bracket'] = pd.cut(df['mig_ext_age'], bins=range(0, 121, 10))
age_bracket = pd.Interval((rsp_age//10)*10, ((rsp_age//10)*10)+10)
filtered = df[(df['mig_ext_sex'] == int(rsp_sex)) & (df['age_bracket'] == age_bracket)]

columns = ['mig_ext_attempts', 'age_bracket']
df = df[columns]
filtered = filtered[columns]


total = df.groupby(['mig_ext_attempts'])\
    .count()\
    .to_json()
f = filtered.groupby(['mig_ext_attempts'])\
    .count()\
    .to_json()

print(total)
print(f)

{"age_bracket":{"1.0":628,"2.0":199,"3.0":214,"4.0":8,"5.0":3}}
{"age_bracket":{"1.0":50,"2.0":9,"3.0":8}}